<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mentoring">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mentoring">
        <activity android:name=".profilee"></activity>
        <activity android:name=".studentProfile" />
        <activity android:name=".profile" />
        <activity android:name=".habarlamalar" />
        <activity android:name=".basty_bet" />
        <activity android:name=".recycle" />
        <activity android:name=".saualnama4" />
        <activity android:name=".saualnama3" />
        <activity android:name=".SplashScreen2" />
        <activity android:name=".saualnama2" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".LoginMentor" />
        <activity android:name=".LoginMentee" />
        <activity android:name=".MentorMentee" />
        <activity android:name=".saualnama" />
        <activity android:name=".RegistrationMentor" />
        <activity android:name=".RegistrationMentee" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>